<div class="toolbar"></div>
{{#nb-virtual-list items=someItems childViewClass="test-list-item" autoScrollBar=true itemHeight="136" contentProperty="num" args=(hash joe="JOE") }}
{{test-list-item num=num}}
{{/nb-virtual-list}}

