
<div class="header-inner-wrapper">
  <div class="header-button-wrapper">
    {{nb-button text="show/hide" type="flat-icon" icon=(build-icon "menu" "white") themeContext="header"
                on-tap=(route-action "toggleLeftSidebar")  }}
  </div>
  <div class="header-title">
    <span class="primary-title">component</span>

    <span class="secondary-title">nb-button</span>

  </div>
  <div class="header-content">

  </div>
</div>

